.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo img {
    width: 100px; /* Adjust size if needed */
    height: auto;
}

.footer-logo p {
    color: #282828;
    font-size: 46px;
    font-weight: 700;
    margin: 0;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.footer-links li {
    cursor: pointer;
}

.footer-social-icon {
    display: flex;
    gap: 20px;
}

.footer-icons-container {
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}

.footer-icons-container img {
    width: 24px;
    height: 24px;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
}

.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}

.footer-details {
    margin-top: 10px;
}

.footer-offices, .footer-contact {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}
.footer-about h3 {
    text-align: center;
    margin: 0 auto; 
    padding-top: 10px; 
    font-size: 1.5rem; 
    color: #333;
    font-size: 20px;
}
.footer-about p {
    text-align: center;  
    margin: 0 auto;      
    padding-top: 10px;   
    max-width: 900px;    
    line-height: 1.6;    
    color: #555;         
}



@media (max-width: 800px) {
    .footer {
        gap: 20px;
    }

    .footer-logo {
        gap: 10px;
        align-items: end;
    }

    .footer-logo img {
        width: 40px;
    }

    .footer-logo p {
        font-size: 25px;
    }

    .footer-links {
        font-size: 14px;
        gap: 10px;
    }

    .footer-social-icon img {
        width: 22px;
    }

    .footer-copyright {
        font-size: 13px;
    }
}

@media (max-width: 379px) {
    .footer-links {
        flex-direction: column; /* Stack links vertically */
        align-items: center; /* Center align the links */
    }
    .footer-about p {
        font-size: 13px; 
    }
    .footer-contact h3 {
        font-size: 13px;
        text-align: center;
    }
    .footer-contact p {
        font-size: 13px;
        text-align: center;
    }
    .footer-offices h3 {
        font-size: 13px;
        text-align: center;
    }
    .footer-offices p {
        font-size: 13px;
        text-align: center;
    }
    
}
